<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHAT APP</title>
</head>
<body>
    <h1>Chat App</h1>
    <button id ="startchat" data-roomid="<%= id %>">Start chat</button>
    <input type="text" id="username" placeholder="username..">
    <input type="text" id="newmsg" placeholder="message..">
    <button id="btn">Send</button>
    <ul id="msgList"></ul> 
    <script src ="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

            let startchat = document.getElementById('startchat');
            let btn = document.getElementById('btn');
            let inputMsg = document.getElementById('newmsg')
            let username= document.getElementById('username')
            let msgList = document.getElementById('msgList');
            

            startchat.onclick = function exec(){
                  socket.emit('join_room',{
                    roomid: startchat.getAttribute('data-roomid')
                  })
            }

            btn.onclick =function exec(){
                socket.emit('msg_send',{
                username:username.value,
                msg: inputMsg.value,
                roomid: startchat.getAttribute('data-roomid')
                });
            }
          


            socket.on('msg_rcvd',(data)=>{
                console.log(data)
                let limsg = document.createElement('li');
                limsg.innerText= `${data.username}: ${data.msg}`; 
                msgList.appendChild(limsg);
            })
            
    </script>
</body>
</html>